.accordion {
  margin-bottom: 8px;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.summary {
  min-height: 48px;
}

.summary > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.details {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
